<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>Page not found</title>
		<style>
		*{
			font-family: "微软雅黑";
		}
			.de{
				width: 100%;

				text-align: center;
				margin:100px auto 0;
			}
			h3{
				font-size: 20px;
				color:#EFB034 ;
				font-weight: normal;

			}
			h1{
				font-size: 160px;
				color:#EFB034 ;
				margin: 0;
				text-shadow:0px 100px 400px #5E5E5E;
			}

			h2{
				color:#EFB034 ;
				font-size: 30px;
				margin: 0;

			}
		</style>
	</head>
	<body style="background-color: #f4f3ef;">
		<div class="de">
		  <h3>当前功能暂未定义或者系统故障</h3>
		  <h1>404</h1>
		  <h2>请咨询技术了解相关操作！</h2>
		</div>
	</body>
</html>
