{% extends "base.html" %}
{% load static %}
{% block mtr-top %}
    <div class="mtr-top">
        <div class="mtr-top-left">
            <img src="{% static "image/logo_1.png" %}"/>
        </div>
        <ul class="mtr-top-right">
            <li>苏研院</li>
            <li class="mtr-top-home"><a href="/offer/showOfferConManage/">主页</a></li>
            {% block mtr-top-last %}
                <li class="mtr-top-last"><span>智能图片分析管理</span>><span>分析结果</span></li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}
{% block mainContent %}

    <div class="main-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN Image Upload modal -->
        <div id="edit-modal-form2" tabindex="-1" class="modal hide" modal-window="" index="1">
            <div class="modal-dialog">
                <div class="modal-content" ng-transclude="">
                    <section ng-controller="ImageUploadController" class="imageUploadPlugin ng-scope">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>上传图片</h4>
                            </div>
                            <div class="modal-body">
                                <div class="tabbable tabbable-custom">
                                    <ul class="nav nav-tabs">
                                        <li id="nativeUploadTab" ng-class="{active: active, disabled: disabled}"
                                            ng-click="tab(3)" class="ng-scope ng-isolate-scope active">
                                            <a data-toggle="tab" href="#tab_1_2">
                                                <tab-heading class="ng-scope">本地上传</tab-heading>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab_1_2" class="tab-pane ng-scope active" tab-content-transclude="tab">
                                            <div class="img-group img-upload">
                                                <input type="hidden" value="" id="nativeUploadPicURI">
                                                <input type="hidden" value="" id="nativeUploadPicName">

                                                <form id="fmUpload" method="post" enctype="multipart/form-data"
                                                      class="dropzone dz-clickable dz-started">
                                                    {% csrf_token %}
                                                    <div>
                                                        <span>将文件拖拽至此区域进行上传（或点击此区域）</span>
                                                    </div>
                                                </form>
                                                <span class="label label-important">注意!</span>

										<span>

										上传图像的缩略图支持最新版本的Firefox浏览器, Chrome浏览器, Opera浏览器,
                                            Safari浏览器 以及10.0以上版本的Internet Explorer 浏览器

										</span>
                                            </div>
                                        </div>
                                        <!-- end ngRepeat: tab in tabs -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                {#                            <button class="btn default" data-dismiss="modal" aria-hidden="true">取消</button>#}
                                <button id="btnUploadImage" type="button" class="btn green"
                                        data-ng-click="getImageUrl(inputImage)">确定
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- END Image Upload modal -->
        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12" style="border-bottom: 1px solid #D7D7D7;">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h2 class="offCon-title" style="padding-left:20px;float:left;">图片分析</h2>


                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN EXAMPLE TABLE PORTLET-->

                    <div class="portlet box">

                        <div class="portlet-body">


                            <div class="clearfix form-horizontal">
                                <div class="portlet-body" style="clear: none;padding:0;">
                                    <!--原图---->


                                    <div class="portlet box blue offer-eidt-box">

                                        <div class="portlet-title">

                                            <div class="caption"><i class="icon-reorder"></i>原图</div>

                                            <div class="tools">

                                                <a href="javascript:;" class="collapse"></a>

                                            </div>

                                        </div>

                                        <div class="portlet-body" style="overflow: hidden;">

                                            <div class="control-group">

                                                <label class="control-label">图片名称<span class="required">*</span></label>

                                                <div class="controls" style="float: left;margin-left: 116px">

                                                    <input type="text" id="offer_name" name="offer_name"
                                                           data-required="1"
                                                           class="span12 m-wrap st" style="width: 300px;"
                                                           value="{{ obj.description }}"/>

                                                </div>



                                            </div>


                                            <div class="control-group">

                                                <label class="control-label">原图<span class="required">*</span></label>

                                                <div class="controls" style="float: left;margin-left: 116px">

                                                 <img style="width: 640px" src="{{ obj.pic }}"/>



                                                </div>


                                            </div>

                                        </div>

                                    </div>


                                    <!---原图end--->

                                   <!-- 分析结果-->

                                    <div class="portlet box blue offer-eidt-box">

                                        <div class="portlet-title">

                                            <div class="caption"><i class="icon-reorder"></i>分析结果</div>

                                            <div class="tools">

                                                <a href="javascript:;" class="collapse"></a>

                                            </div>

                                        </div>

                                        <div class="portlet-body" style="overflow: hidden;">

                                            <div class="control-group">

                                                <label class="control-label">分析说明<span class="required">*</span></label>

                                                <div class="controls" style="float: left;margin-left: 116px">

                                                    <input type="text" id="offer_name" name="offer_name"
                                                           data-required="1"
                                                           class="span12 m-wrap st" style="width: 300px;"
                                                           value="{{ obj.to_url }}"/>

                                                </div>



                                            </div>


                                            <div class="control-group">

                                                <label class="control-label">分析结果图<span class="required">*</span></label>

                                                <div class="controls" style="float: left;margin-left: 116px">

                                                  <img style="width: 640px" {% if obj.to_url %}src="{{ obj.to_url }}"{% else %}src="{{ obj.pic }}"{% endif %}/>
                                                    <div id="showinfo" style="color: red">分析结果图</div>

                                                </div>


                                            </div>

                                        </div>

                                    </div>

                                    <!-- 分析结果end-->
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- END EXAMPLE TABLE PORTLET-->

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

    </div>

{% endblock %}

{% block pagecsslink %}
    {{ form.media }}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/offeredit/bootstrap-toggle-buttons.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/offeredit/DT_bootstrap.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/offeredit/jquery.fileupload-ui.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/offeredit/uniform.default.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static  "css/style-metro.css" %}">
    <link rel="stylesheet" href="{% static  "css/offeredit/select-date.css" %}">


    <style>
        .btn.green {
            background: #EFB034;
        }

        .btn.green:hover {
            background: #d8d8d8 !important;
        }

        .btn-size {
            font-size: 12px;
            padding: 4px 14px;
        }

        .check_box label {
            float: left;

        }

        .check_box {
            float: left;
            margin-left: 15px;
        }

        .check_less dt {
            cursor: pointer;
            clear: both;
        }

        {#.check_less dd{#}
        {#    display:none;#}
        {#        {#}
        {#        #}
        .check_less {
            margin-bottom: -10px !important;
            border: 1px solid #cccccc;
            padding: 10px 80px 10px 20px;
            overflow: hidden;
        }

        .check_less dd {
            float: left;
        }

        {#商品折扣样式修改#}
        .zk-goul li {
            float: left;
            list-style-type: none;
            margin-left: 15px;
            margin-top: 5px;
            width: 30%;
        }

        .zk-goul li input {
            width: 80px;
            margin-left: 5px;
        }

        .zk-goul li span {
            display: inline-block;
            width: 40%;
            /* border: 1px solid; */
            text-align: right;
        }

        .zk-goul {
            width: 100%;
            overflow: hidden;
            /* float: left; */
            margin-left: 0px;
        }

        .tabtr td {
            border-bottom: 1px solid red;
            border-top: 1px solid red;
        }

        {#         tag type ==en,sc,tc#}
        .wysihtml5-toolbar li {
            height: 29px;
            float: left;
            display: list-item;
            list-style: none;
            margin: 0 2px 0px 0;

        }

        .logo-preview {
            width: 60px;
            height: 60px;
            border: 1px solid #e5e5e5;
            position: absolute;
            right: -75px;
            bottom: 16px;
        }

        .offer-eidt-input {
            overflow: hidden;
        }

        .offer-eidt-image {
            display: none;
            border: 1px solid #e5e5e5;
            position: relative;
            top: 0;
            left: 0;
            overflow: hidden;
            margin-top: 15px;
        }

        .offer-ylan-btn {
            position: relative;
            overflow: hidden;
            float: right;
            margin-right: 4px;
        }

        .offer-close-btn {
            position: relative;
            overflow: hidden;
            float: right;
            margin-right: 4px;
            opacity: .65;
            filter: alpha(opacity=65);
        }
.offer-edit-imgsize {
    font-size: 12px;
}
        .page-sidebar-fixed .navbar-fixed-top {
            left: 200px;
        }

        .page-sidebar-closed .navbar-fixed-top {
            left: 60px;
        }

        li {

            line-height: 40px !important;
        }

        .page-top-right > li {
            list-style-type: none;
            float: left;
            /* line-height: 60px; */
            margin: 20px 10px;
            line-height: 20px !important;
        }

        ul.page-sidebar-menu > li > ul.sub-menu > li > a {
            display: block !important;
        }

        .container-fluid {
            padding: 0;
        }

        .navbar .brand {
            padding: 0 20px 10px;
        }
    </style>
    {#    offer分类样式#}
    <style>
        .tree li {
            line-height: 20px !important;
        }

        .yiji li {
            list-style-type: none;
            cursor: pointer;
        }

        .inactive {
            background: url("../../static/image/off.png") no-repeat left center !important;
        {#            background-size: contain !important;#} display: inline-block;
        {#            width: 254px;#}{#            border: 1px solid red;#} padding-left: 10px;
        }

        .inactives {
            background: url("../../static/image/on.png") no-repeat left center !important;
        }

        .list ul li ul {
            display: none;
        }

        .list ul li ul li ul {
            display: none;
        }
    </style>
    {#    offer分类样式end#}
    {#    有效期选择样式#}
    <style>
        #demo a {
            text-decoration: none;
        }

        #demo ol, #demo li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #demo p {
            margin: 0;
        }

        #expired_date {
        {#	margin: 30px auto;#} height: 28px;
            width: 200px;
            padding: 0 6px;
            border: 1px solid #ccc;
            outline: none;
            cursor: pointer;
        }
    .demo-font{
        display:none;
        color:#ccc;
    }
    </style>
    <style>

        {#交行收缩框样式start#}
        .portlet.box.blue .portlet-title {
            background-color: #ffb848;
        }

        .portlet.box.blue {
            border: 1px solid #ffb848;
            border-top: 0;
        }

        .offer-eidt-box {
            width: 920px;
            margin-left: 85px;
        }
        .offer-edit-bankbox .portlet-title{
            background-color:#f4cc7b !important; ;
        }
        .offer-eidt-box .control-label {
            width: auto;
        }
        #showinfo{
            color: red;
            display: block;
            height: 30px;
            background: #dadcd5 !important;
            width: 640px;
            text-align: center;
            font-size: 18px;
        }
        {#交行收缩框样式end#}
    </style>
{% endblock %}

{% block pagescript %}


    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static "js/offeredit/jquery.toggle.buttons.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/jquery-migrate-1.2.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/DT_bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/jquery.validate.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/jquery.validate.message_zhcn.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/dropzone.cn.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/jquery.uniform.min.js" %}" type="text/javascript"></script>


    <!-- BEGIN PAGE LEVEL STYLES -->
    <script src="{% static "js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/jquery.form.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/offer.js" %}" type="text/javascript"></script>
    {#    <script src="{% static "js/offeredit/offer_edit.js" %}" type="text/javascript"></script>#}
    <script src="{% static "ckeditor/ckeditor.js" %}" type="text/javascript"></script>
    <script src="{% static "js/offeredit/upload.js" %}" type="text/javascript"></script>
    {#    <script src="{% static "ckeditor/static/ckeditor/ckeditor/ckeditor-init.js" %}" type="text/javascript"></script>#}
    <script src="{% static "js/offeredit/select-date.js" %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL STYLES -->
    <script>
        jQuery(document).ready(function () {

            $('#toggle_isOnSale').toggleButtons({
                width: 120,
                label: {
                    enabled: "发布",
                    disabled: "不发布"
                }
            });
            $('#toggle_isOnSale').on('click', function () {
                $("#is_online_save").show();
            });


            offer.init();
            App.init();


        });

        $('.page-sidebar-menu li').find('ul').eq(0).css('display', 'block');
        $("#OfferConManage").addClass("ch-active");
        $("#OfferConManage").addClass("ch-active");
        $("#OfferConManage").parent("ul.sub-menu").css("display", "block");
        $("#OfferConManage").parent("ul.sub-menu").parent("li").addClass("open");
        $("#OfferConManage").parent("ul.sub-menu").parent("li").find(".arrow").addClass("open");


        $('#dd').calendar({
            trigger: '#expired_date',
            zIndex: 999,
            format: 'yyyy-mm-dd',
            onSelected: function (view, date, data) {
                console.log('event: onSelected')
            },
            onClose: function (view, date, data) {
                console.log('event: onClose')
                console.log('view:' + view)
                console.log('date:' + date)
                console.log('data:' + (data || 'None'));
            }
        });
        $('#ddu').calendar({
            trigger: '#up_time',
            zIndex: 999,
            format: 'yyyy-mm-dd',
            onSelected: function (view, date, data) {
                console.log('event: onSelected')
            },
            onClose: function (view, date, data) {
                console.log('event: onClose')
                console.log('view:' + view)
                console.log('date:' + date)
                console.log('data:' + (data || 'None'));
            }
        });

    $(".demo-timeinput").focus(function(){
    $(this).siblings("span.demo-font").show();
  });
  $(".demo-timeinput").blur(function(){
   $(this).siblings("span.demo-font").hide();
  });
    </script>
    <script>
        {#    预览效果#}
        $(".offer-ylan-btn").each(function () {
            this.index=0;
            $(this).click(function () {
                if(this.index==0){
                     $(this).parent(".offer-eidt-input").siblings("div.offer-eidt-image").show();
                    $(this).text("关闭");
                    this.index=1;
                }else{
                     $(this).parent(".offer-eidt-input").siblings("div.offer-eidt-image").hide();
                     $(this).text("预览");
                    this.index=0;
                }

            });
        });


    </script>
    <script>
        $("input[flag='checka']").on("click", function () {
            //判断当前点击的复选框处于什么状态$(this).is(":checked") 返回的是布尔类型
            var cat_id = $(this).attr('tag');
            var cat_str = "input[name='b" + cat_id + "']";
            if ($(this).is(":checked")) {
                $(this).parents('.yiji').find(cat_str).each(function (e) {

                    $(this).attr("checked", true);
                    $(this).parent('span').addClass("checked");
                    var sub_id = $(this).attr('tag');
                    var sub_str = "input[name='c" + sub_id + "']";
                    $(this).parents('.yiji').find(sub_str).each(function (e) {
                        $(this).attr("checked", true);
                        $(this).parent('span').addClass("checked");

                    })

                });

//					alert("sladfjlkasd");
            } else {
                $(this).parents('.yiji').find(cat_str).each(function (e) {

                    $(this).attr("checked", false);
                    $(this).parent('span').removeClass("checked");
                    var sub_id = $(this).attr('tag');
                    var sub_str = "input[name='c" + sub_id + "']";
                    $(this).parents('.yiji').find(sub_str).each(function (e) {
                        $(this).attr("checked", false);
                        $(this).parent('span').removeClass("checked");

                    })

                });
            }
        });

        $("input[flag='checkb']").on("click", function () {
            //判断当前点击的复选框处于什么状态$(this).is(":checked") 返回的是布尔类型
            var sub_id = $(this).attr('tag');
            var sub_str = "input[name='c" + sub_id + "']";
            if ($(this).is(":checked")) {
                $(this).parents('.yiji').find(sub_str).each(function (e) {
                    $(this).attr("checked", true);
                    $(this).parent('span').addClass("checked");

                })
//					alert("sladfjlkasd");
            } else {
                $(this).parents('.yiji').find(sub_str).each(function (e) {
                    $(this).attr("checked", false);
                    $(this).parent('span').removeClass("checked");

                });

            }
        });
        $(function () {
            var categoryBoard = $('.tree');

            function checkCategory(e) {
                var $self = $(this),
                        checked = $self.attr('checked');
                if (checked) {
                    $self.parent().siblings('ul').find(':checkbox[name=item]').attr('checked', true);
                } else {
                    $self.parents('li').children('span').find(':checkbox[name=item]').attr('checked', false);
                    $self.parent().siblings('ul').find(':checkbox[name=item]').attr('checked', false);
                }
            }

            categoryBoard.on('click', ':checkbox[name=item]', checkCategory);
        });
    </script>
    <script type="text/javascript">

        $(".inactive").on("click", function () {
            if ($(this).siblings('ul').css('display') == 'none') {
                $(this).parent('li').siblings('li').removeClass('inactives');
                $(this).addClass('inactives');
                $(this).siblings('ul').slideDown(100).children('li');
                if ($(this).parents('li').siblings('li').children('ul').css('display') == 'block') {
                    $(this).parents('li').siblings('li').children('ul').parent('li').children('span').removeClass('inactives');
                    $(this).parents('li').siblings('li').children('ul').slideUp(100);

                }
            } else {
                //控制自身变成+号
                $(this).removeClass('inactives');
                //控制自身菜单下子菜单隐藏
                $(this).siblings('ul').slideUp(100);
                //控制自身子菜单变成+号
                $(this).siblings('ul').children('li').children('ul').parent('li').children('span').addClass('inactives');
                //控制自身菜单下子菜单隐藏
                $(this).siblings('ul').children('li').children('ul').slideUp(100);

                //控制同级菜单只保持一个是展开的（-号显示）
                $(this).siblings('ul').children('li').children('span').removeClass('inactives');
            }
        });
        /*
         地区显示选择效果
         */
        $(".qy-edit-btn").on("click", function () {
            $(".qy-edit").show();
            $(".edit-form-bg,.sure-btn,.qx-btn").on("click", function () {
                $(".qy-edit").hide();
            })
        });
        $(".offer-edit-btn").on("click", function () {
            $(".offer-edit").show();
            $(".edit-form-bg,.sure-btn,.qx-btn").on("click", function () {
                $(".offer-edit").hide();
            })
        });

        $(".edit-form-bg,.sure-btn,.qx-btn").on('click', function () {
            $("#quyu_xianshi").empty();
            $("#diqubianma").find("input[flag='checka']").each(function (e) {
                //判断当前点击的复选框处于什么状态$(this).is(":checked") 返回的是布尔类型
                var chau_id = $(this).attr('tag');
                var chau_name = $(this).attr('tag_name');
                var chau_str = "input[name='b" + chau_id + "']";
                if ($(this).is(":checked")) {
                    var chau_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                            '<li class="dq-country "><span></span></li><li class="dq-city"></li></ul>';
                    $("#quyu_xianshi").append(chau_xs)
                    if (chau_id == 0) {
                        $("#quyu_xianshi").empty();
                        var chau_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                                '<li class="dq-country "><span></span></li><li class="dq-city"></li></ul>';
                        $("#quyu_xianshi").append(chau_xs);
                        return false;
                    }
                }
                else {
                    $(this).parents('.yiji').find(chau_str).each(function (e) {
                        var country_id = $(this).attr('tag');
                        var country_name = $(this).attr('tag_name');
                        var country_str = "input[name='c" + country_id + "']";
                        if ($(this).is(":checked")) {
                            var country_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                                    '<li class="dq-country "><span>' + country_name + '</span></li><li class="dq-city"></li></ul></ul>';
                            $("#quyu_xianshi").append(country_xs)
                        }
                        else {
                            var city_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                                    '<li class="dq-country "><span>' + country_name + '</span></li><li class="dq-city">';
                            var city_one_xs = '';
                            var city_flag = 0;

                            $(this).parents('.yiji').find(country_str).each(function (e) {
                                var city_id = $(this).attr('tag');
                                var city_name = $(this).attr('tag_name');
                                if ($(this).is(":checked")) {

                                    city_one_xs += '<span>' + city_name + '</span>';
                                    city_flag = 1
                                }
                            });
                            city_xs += city_one_xs;
                            city_xs += '</li></ul>';
                            if (city_flag == 1) {
                                $("#quyu_xianshi").append(city_xs);
                            }
                        }
                    });
                }

            });
        });


        $(".edit-form-bg,.sure-btn,.qx-btn").on('click', function () {
            $("#category_xianshi").empty();
            $("#categoryst").find("input[flag='checka']").each(function (e) {
                //判断当前点击的复选框处于什么状态$(this).is(":checked") 返回的是布尔类型
                var chau_id = $(this).attr('tag');
                var chau_name = $(this).attr('tag_name');
                var chau_str = "input[name='b" + chau_id + "']";
                if ($(this).is(":checked")) {
                    var chau_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                            '<li class="dq-country "><span></span></li><li class="dq-city"></li></ul>';
                    $("#category_xianshi").append(chau_xs)
                }
                else {
                    $(this).parents('.yiji').find(chau_str).each(function (e) {
                        var country_id = $(this).attr('tag');
                        var country_name = $(this).attr('tag_name');
                        var country_str = "input[name='c" + country_id + "']";
                        if ($(this).is(":checked")) {
                            var country_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                                    '<li class="dq-country "><span>' + country_name + '</span></li><li class="dq-city"></li></ul>';
                            $("#category_xianshi").append(country_xs)
                        }
                        else {
                            var city_xs = '<ul class="dq-yx-ul"><li class="dq-dazhou"><span>' + chau_name + '</span></li>' +
                                    '<li class="dq-country "><span>' + country_name + '</span></li><li class="dq-city">';
                            var city_one_xs = '';
                            var city_flag = 0;

                            $(this).parents('.yiji').find(country_str).each(function (e) {
                                var city_id = $(this).attr('tag');
                                var city_name = $(this).attr('tag_name');
                                if ($(this).is(":checked")) {

                                    city_one_xs += '<span>' + city_name + '</span>';
                                    city_flag = 1
                                }
                            });
                            city_xs += city_one_xs;
                            city_xs += '</li></ul>';
                            if (city_flag == 1) {
                                $("#category_xianshi").append(city_xs);
                            }
                        }
                    });
                }

            });
        });


    </script>

    {% if permArray.saveOffer %}
    {% else %}
        <script>
            {#                //使页面不可编辑#}
            {#            function disableOcx() {#}
            {#                var form3 = document.forms[3];#}
            {#                for ( var i = 0; i < form3.length; i++) {#}
            {#                    var element = form3.elements[i];#}
            {#                    //部分元素可以编号 element.name 是元素自定义 name#}
            {#                    if (element.name != "auditEntity.auditContent"#}
            {#                    && element.name != "auditEntity.auditAutograph"#}
            {#                    && element.name != "auditEntity.auditTime"#}
            {#                    && element.name != "auditEntity.auditState"#}
            {#                    && element.name != "submitBtn"#}
            {#                    && element.name != "reset"#}
            {#                    && element.name != "id"#}
            {#                    && element.name != "processInstanceId"#}
            {#                    && element.name != "updateForm") {#}
            {#                        element.disabled = "true";#}
            {#                    }#}
            {#                }#}
            {##}
            {#                var form2 = document.forms[2];#}
            {#                for ( var i = 0; i < form2.length; i++) {#}
            {#                    var element = form2.elements[i];#}
            {#                    //部分元素可以编号 element.name 是元素自定义 name#}
            {#                    if (element.name != "auditEntity.auditContent"#}
            {#                    && element.name != "auditEntity.auditAutograph"#}
            {#                    && element.name != "auditEntity.auditTime"#}
            {#                    && element.name != "auditEntity.auditState"#}
            {#                    && element.name != "submitBtn"#}
            {#                    && element.name != "reset"#}
            {#                    && element.name != "id"#}
            {#                    && element.name != "processInstanceId"#}
            {#                    && element.name != "updateForm") {#}
            {#                        element.disabled = "true";#}
            {#                    }#}
            {#                }#}
            {#                var form1 = document.forms[1];#}
            {#                for ( var i = 0; i < form1.length; i++) {#}
            {#                    var element = form1.elements[i];#}
            {#                    //部分元素可以编号 element.name 是元素自定义 name#}
            {#                    if (element.name != "auditEntity.auditContent"#}
            {#                    && element.name != "auditEntity.auditAutograph"#}
            {#                    && element.name != "auditEntity.auditTime"#}
            {#                    && element.name != "auditEntity.auditState"#}
            {#                    && element.name != "submitBtn"#}
            {#                    && element.name != "reset"#}
            {#                    && element.name != "id"#}
            {#                    && element.name != "processInstanceId"#}
            {#                    && element.name != "updateForm") {#}
            {#                        element.disabled = "true";#}
            {#                    }#}
            {#                }#}
            {#                var form0 = document.forms[0];#}
            {#                for ( var i = 0; i < form0.length; i++) {#}
            {#                    var element = form0.elements[i];#}
            {#                    //部分元素可以编号 element.name 是元素自定义 name#}
            {#                    if (element.name != "auditEntity.auditContent"#}
            {#                    && element.name != "auditEntity.auditAutograph"#}
            {#                    && element.name != "auditEntity.auditTime"#}
            {#                    && element.name != "auditEntity.auditState"#}
            {#                    && element.name != "submitBtn"#}
            {#                    && element.name != "reset"#}
            {#                    && element.name != "id"#}
            {#                    && element.name != "processInstanceId"#}
            {#                    && element.name != "updateForm") {#}
            {#                        element.disabled = "true";#}
            {##}
            {#                    }#}
            {#                }#}
            {##}
            {#               $(".fa-trash-o").remove();#}
            {#               $("#selPicBtn1").removeAttr('id');#}
            {#            }#}
            {#            window.onload = disableOcx;//当页面加载的时候执行此函数#}
            {##}
            {#            //取消不可编辑#}
            {#            function noDisable() {#}
            {#                var form = document.forms[3];#}
            {#                for ( var i = 0; i < form.length; i++) {#}
            {#                    var element = form.elements[i];#}
            {#                    element.disabled = false;#}
            {#                }#}
            {#            }#}
            {#            disableOcx();#}
        </script>
    {% endif %}
{% endblock %}

