{% extends "base.html" %}
{% block body %}

    {% load static %}

    <body class="login">

    <div class="logo">
        <img style="width:100%;" src="{% static "image/loginpage_logo.png" %}" alt=""/>
    </div>


    <div class="content">

        <!-- 新密码 FORM -->
         <div class="form-vertical new-form" style="display: block">

            <h4 class="form-title">万事达卡权益管理平台</h4>

            <div class="control-group new-password">

                <label class="control-label visible-ie8 visible-ie9">输入新密码:</label>

                <div class="controls">

                    <div class="input-box">
                        <span></span>
                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="输入新密码" name="password" id="password1"/>

                    </div>

                </div>

            </div>
             <div class="control-group confirm-new-password">

                <label class="control-label visible-ie8 visible-ie9">确认新密码:</label>

                <div class="controls">

                    <div class="input-box">
                        <span></span>
                        <input class="m-wrap placeholder-no-fix" type="password" placeholder="确认新密码" name="password" id="password2"/>

                    </div>

                </div>

            </div>


            <div class="form-actions">

                <button class="btn" id="saveNewPass">

                    确认

                </button>

            </div>

        </div>
        <!-- END 新密码 FORM -->

    </div>

    <div class="onlymark" id="onlymark" value="{{ key }}" style="display: none" ></div>

    <div class="copyright">

        2016-2017 &copy;Mastercard.
        <br>
        <a target="_blank" href="http://www.miitbeian.gov.cn">沪ICP备16033141号</a> 上海美士达商务咨询有限公司


    </div>



    <script src="{% static "js/jquery-1.10.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/forgetPassword.js" %}" type="text/javascript"></script>


    <script>
        window.ready=function()
        {
            if ($('.onlymark').attr('value')=="")
            {
                alert('链接已失效，请重新进行忘记密码操作！');
                location.href="/admin/";
            }
        }

        $(".checkbox span").on("click", function () {
            if ($(this).hasClass("checked")) {
                $(this).removeClass("checked");
                $(this).children("input").attr("checked", false);
            } else {
                $(this).addClass("checked");
                $(this).children("input").attr("checked", true);
            }
        })

        $(".input-box input").focus(function () {
            $(this).parent(".input-box").css("border", "2px solid #EFB034")
        })
        $(".input-box input").blur(function () {
            $(this).parent(".input-box").css("border", "2px solid #D6D6D6")
        })
    </script>
    </body>

{% endblock %}
</html>